/* Create Account And Sign In CSS Starts Here */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
  }
  .headingContainer{
    text-align: start;
    width: 100%;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
  }
  .form-heading {
    font-size: 24px; 
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 30px;
  }
  .pageHeading{
    font-size: 24px;
    font-weight: bold;
    margin: 10px auto;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  .form-title {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .form-label {
    font-size: 20px; 
  }
  .form-field {
    width: 100%;
    margin: 20px 0 !important;
  }
  
  .form-buttons {
    background-color: #4B56E3 !important;
    color: white !important;
    width: 335px !important;
    height: 56px !important;
    font-size: 18px !important;
    margin: 20px 0px !important;
    text-transform: capitalize !important;
  }
  
  .or-divider {
    margin: 20px 0;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-around;
    margin: 15px 0px 5px 0px;
  }
  .Invoicecontainer{
    display: flex;
    justify-content: space-evenly;
  }

  /* DashBoard CSS Starts Here  */
.outer-container{
    width: 95%;
    margin: 0 auto;
    padding-bottom: 60px;
}
.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .dashSummary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px auto;
  }
  .invoice-card{
    width: 100%;
    border: 1px solid #ccc;
    margin: 5px;
    text-align: center;
  }
  .user-info {
    display: flex;
    align-items: center;
  }
  .welcomeUser{
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }
  .user-icon {
    margin-right: 10px;
    font-size: 24px;
  }
  
  .welcome-message {
    font-size: 18px;
  }
  
  .bell-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .analytics-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .analytics-box {
    background-color: #4B56E3;
    border: 1px solid #ccc;
    color: white;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex: 1;
    margin: 10px 5px;
  }
  .iconsContainer {
    border: 1px solid white;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    margin-right: 30px;
  }
  #transactionList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
  }
  #userList{
    border: 1px solid #ccc;
    max-width: 400px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .transaction-header,
  .transaction-details {
    width: 100%;
  }
  
  .transaction-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .transaction-name {
    font-weight: bold;
font-size: 18px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

  }
  .transaction-amount{
font-size: 18px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: right;

  }
  
  .transaction-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .transaction-date {
    font-size: 12px;
    color: #666;
  }
  
  .transaction-status {
    text-transform: capitalize;
  }
  .bottom-navigation{
    display: flex !important;
    justify-content: space-evenly !important;
  }
  .filter-dropdown{
    text-align: end;
  }
  .transaction-actions{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .modal-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
      padding:16px;
      background-color: #fff;
      text-align: start;
      border-radius: 20px;
  }
  .modal-btn-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  

 /* Invoice CSS Starts Here   */

 .Invoiceheading{
    text-align: center;
    font-size: 28px;
    margin: 10px auto;
    text-transform: uppercase;
 }

 /* Payment CSS Starts Here  */

 .payment-heading{
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  margin: 10px auto;
 }
 .paymentsList{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }

 /* Credit Score CSS  */

 .credit-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
 }
 .credit-inner-main{
  /* min-height: 600px; */
  width: 50%;
  padding: 10px 20px;
  display: flex;
  margin: auto;
  flex-direction: column;
  /* justify-content: space-evenly; */
 }
 .css-11xur9t-MuiPaper-root-MuiTableContainer-root{
  border: none !important;
  box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.06) !important;  
  border-radius: 19px !important;
 }
 .css-l0h214-MuiResponsiveChart-container{
  border: none !important;
  /* box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.06) !important;   */
  border-radius: 19px !important;
 }
 .css-1ygcj2i-MuiTableCell-root{
  font-size: 1rem !important;
  color:#C7C7C7 !important;
  padding: 5px !important;
 }
 .credit-title{
  font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
    padding-left: 10px;
 }
 .score-container{
  display: flex;
    align-items: center;
    max-width: 700px;
    box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.06) !important;
    justify-content: space-around;
    border-radius: 19px;  

 }
 .scoreHeadingText{
  position: absolute;
  top: 50%;
  left: 41%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
 }
 .scoreTitles{
  border-left: 2px solid rgba(232, 232, 232, 1);
  padding: 15px;
  width: 50%;
  text-align: right;
 }
 .InvoiceStatusText {
  padding: 0px 15px;
 }
 .InvoiceStatusText p {
  font-size: 20px !important;
  font-weight: 600;
 }
 .InvoiceProgressbar{
  height: 10px !important;
  border-radius: 25px;
  width: 70%;
  margin-right: 20px;
  background-color: rgba(241, 241, 241, 1);
 }
 .invoices-container{
  display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
 }
 .progressContainer{
  display: flex;
  align-items: center;
 }
 .invoiceCardContainer{
  display: flex;
    justify-content: space-between;
    /* margin: 0px 60px; */
    width: 100%;
 }
 .invoiceCardContainer .css-185gdzj-MuiCardHeader-root, .css-46bh2p-MuiCardContent-root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-width: 120px !important; */
  text-align: center !important;
  /* padding: 20px !important; */
 }
 .invoiceCardContainer .css-185gdzj-MuiCardHeader-root .css-1ssile9-MuiCardHeader-avatar{
  margin: 0px !important;
 }
 .css-bhp9pd-MuiPaper-root-MuiCard-root{
  box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.06) !important;
  width: 100% !important;
  border-radius: 28px !important;
  margin: 20px !important;

 }
 .score-inner{
  position: relative;
  height: 300px;
  width:100%;
  margin-left: -50px;
 }

 /* Transaction CSS Starts Here  */

 .transactionOuter{
  margin: 10px;
  margin-bottom: 60px;
 }
 .transactionOuterContainer{
  margin: 15px auto;
 }
 .transactionOuterContainer h2{
  font-size: 30px;
  font-weight: 600;
 }
 .transactionOuterContainer p{
  font-size: 15px;
  font-weight: 600;
  color:rgba(0, 0, 0, 0.5);
 }
 .transactionHeaderContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
 }
 .transactionHeader h2 {
  color: rgba(16, 24, 40, 1);
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
 }
 .transactionHeader p {
  color: rgba(102, 112, 133, 1);
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
 }
.transactionHeaderBtns{
  display: flex;
  gap: 10px;
}
.transactionListContainer{
  border: 1px solid rgba(234, 236, 240, 1);
    border-radius: 5px;
    /* padding: 5px; */
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
    
}
.css-11xur9t-MuiPaper-root-MuiTableContainer-root{
  border: 1px solid  rgba(234, 236, 240, 1) !important;
  border-radius: 0px !important;
  /* background-color: rgba(255, 255, 255, 1); */
  box-shadow: none !important;
}
.css-1oj2twp-MuiPagination-root{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.activeTableRow{
  border-radius: 15.39px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 17px;
  text-transform: capitalize;
  width: 80%;
}

 @media screen and (max-width: 768px) {
  .credit-container {
    flex-direction: column;
  }
  .credit-inner-main{
    width: 100%;
    padding: 10px;
  }
  .css-l0h214-MuiResponsiveChart-container>svg{
    position: relative;
    left: 65px;
    min-width: 300px;
    padding: 30px;
  }
  .score-inner{
    width:65%;
   }
   .scoreHeadingText{
    left: 61%;
   }
   .css-bhp9pd-MuiPaper-root-MuiCard-root{
    margin: 5px !important;
   }
   .modal-container{
    width: 280px;
   }
   .transactionHeaderContainer{
    flex-direction: column;
   }
   .transactionHeaderBtns{
    width: 100%;
    justify-content: space-between;
   }
   .css-sghohy-MuiButtonBase-root-MuiButton-root{
    font-size: 12px !important;
    min-width: 90px !important;
    padding: 5px !important;
   }
   .transactionHeader{
    width: 100%;
    padding: 5px;
   }
   .activeTableRow{
    width: 100% !important;
   }
   .css-1ex1afd-MuiTableCell-root{
    min-width: 120px !important;
    padding: 5px !important;
   }
}
